  <nav *ngIf="isLoggedIn" class="purple nav-fixed">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo logo"><i class="material-icons">dashboard</i>PagoSoft</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
       <ul class="right hide-on-med-and-down">

          <li><a>Clientes</a> </li>
          <li><a>Caja</a> </li>
          <li><a>Gastos</a> </li>
          <li><a>Empleados</a></li>
          <li><a>{{email}}</a></li>
          <li><a (click)="logout()">Salir</a></li>
        </ul>
      </div>
</nav>
  <div>
  <router-outlet></router-outlet>
  </div>
