 <div class="container">
 <h3>Listado de Dineros Registrados</h3>
 <button (click)="showModal('modal2')" class="btn light-blue waves-effect waves-light right btn-crear">Registrar Dienero</button>
 <table class="bordered">
        <thead>
          <tr>
              <th>Valor</th>
              <th class="hide-on-small-only">Fecha Registro</th>
              <th>Empleado</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of lstCaja | async">
          <tr>
            <td>{{item.valor}} </td>
            <td class="hide-on-small-only">{{item.fechaRegistro | date:"MM/dd/yy hh:mm a" }}</td>
            <td>{{item.idempleado}}</td>
            <td><i class="material-icons center-align admin-btn" (click)="eliminarCaja(item.$key)">delete</i></td>
          </tr>
        </tbody>
</table>

<!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
     <h4>Registrar Ingreso dinero</h4>
       <div class="row">
       <form class="col s12" #heroForm="ngForm">
       <div class="row">
        <div class="input-field col s6">
          <input id="valor" type="text"  [(ngModel)]="caja.valor" name="valor"
          required minlength="4" maxlength="50"  #name="ngModel" class="validate">
          <label for="valor" data-error="Campo requerido,debe tener minimo 4 Caracteres">Valor</label>
         </div>

        <div class="input-field col s6">
          <input id="empleado" type="text" class="validate" [(ngModel)]="caja.idEmpleado" name="empleado" #empleado="ngModel" required>
          <label for="empleado">Empleado</label>
        </div>
     
      </div>
    </form>
       </div>
    <div class="modal-footer">
      <a onclick="$('#modal1').modal().modal('close');" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <button [disabled]="!heroForm.form.valid" class="btn light-blue waves-effect waves-light" (click)="crearCaja('modal1')">Guardar</button>
    </div>
  </div>


</div>
